
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SSTI</title>
</head>
<body>
    @ViewBag.Template
    <form asp-action="SSTI" method="post">
        <div>
            <label>SST injection</label>
            <input name="razorTpl" />
        </div>
        <div>
            <input type="submit" value="Wyślij" />
        </div>
    </form>

    <img  src="/Test/GetPicture/test.jpg"   />


</body>
</html>
