<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmailInformations</title>
</head>
<body>
    <h1>Wydarzenia w DateApp Dziś</h1>


    <h2>Co dziś się działo</h2>


    <h3>Nowe pary</h3>

    <h3>Nowe pary</h3>

    <h3>Nowe pary</h3>

    <h3>Nowe pary</h3>


</body>
</html>
