  

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>_LayoutTomTom</title>
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/lib/tomtom-international/web-sdk-maps/dist/maps.css"
              rel="stylesheet" />
    </head>
    <body>







        <script src="~/lib/jquery/dist/jquery.min.js"></script>

        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

        @*<script src="~/js/site.js" asp-append-version="true"></script>*@

        <script src="~/lib/tomtom-international/web-sdk-maps/dist/maps-web.min.js">

        </script>

        @RenderSection("Scripts", required: false)
    </body>
</html>
