
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmailConfirmation</title>
</head>
<body>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <h1>Twój Email został potwierdzony możesz się zalogować do aplikacji</h1>
        </div>
        <div class="col-lg-4"></div>
    </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <a class="btn btn-info" asp-action="Login" asp-controller="Account">Zaloguj się</a>
        </div>
        <div class="col-lg-4"></div>
    </div>
    
</body>
</html>
