@model PairViewModel
@{
    ViewData["Title"] = "Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .label {
        /*min-width: 200px;*/
        background-color: white;
    }

    .img-thumbnail {
        margin-top: 30px;
    }


    .imageR {
        position: relative;
    }

    .iconAction {
        position: absolute;
        bottom: 0;
        left: 15px;
    }

    .Remove {
        position: absolute;
        bottom: 0;
        left: 15px;
    }

    .iconAction:hover {
        background-color: lightgray;
    }


    .error {
        color: red;
        margin-left: 15px;
        color: red;
        font-weight: bold;
        font-size: 22px;
        line-height: 20px;
    }


    #dialogMatch {
        visibility: hidden;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: 1000;
        background-color: gray;
    }
</style>




<div class="row">
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12">
        @if (Model.select == "Pair")
        {
            @Html.Partial("PairOptionsPartial", Model.pairoptions)
        }
        else
        {
            <div id="Geo"></div>
            @Html.Partial("MessageOptionsPartial", Model.messageOptionsview)
        }

    </div>
    <div class="col-xl-10 col-lg-9 col-md-8 col-sm-12">
        @if (Model.select == "Pair")
        {
            @Html.Partial("PairPartial", Model.pairpartial)
        }
        else
        {

            @Html.Partial("MessagePartial", Model.messageview)


        }

    </div>


</div>


<div class="row">
    <form asp-action="Coordinates" asp-controller="Pair" method="Post">
        <input type="hidden" id="Longitude" name="Longitude" />
        <input type="hidden" id="Langitude" name="Langitude" />
    </form>
    <div id="dialogMatch">
        <div id="MatchViewPartial"></div>
    </div>


</div>












<script>


    function closeDilogMatch() {
        var el = document.getElementById("dialogMatch");
        el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";

    }



    $('#dialogMatch').on('click', function () {


        closeDilogMatch();

    });


</script>






@*<script>
        var x = document.getElementById("Geo");
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;



            $.post("/Pair/Coordinates",
                {
                    Latitude: latitude,
                    Longitude: longitude
                },
                function (data, status) {
                });


        }


        getLocation();

    </script>*@






@*<script>
    var x = document.getElementById("Geo");

    function errorCoor() {
        alert | ("Nie można pobrać lokalizacji sprawdz ustawienia swojej przeglądarki");
    }

    function showPosition(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;



        $.post("/Pair/Coordinates",
            {
                Latitude: latitude,
                Longitude: longitude
            },
            function (data, status) {
            });


    }




    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, errorCoor, { maximumAge: 60000, timeout: 10000, enableHighAccuracy: true });
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }



    getLocation();

</script>*@








<script>
    var x = document.getElementById("Geo");


    var options = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
    };

   

    function error(err) {
        console.warn(`ERROR(${err.code}): ${err.message}`);
    }

   









    function errorCoor() {
        alert | ("Nie można pobrać lokalizacji sprawdz ustawienia swojej przeglądarki");
    }

    function success(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;



        $.post("/Pair/Coordinates",
            {
                Latitude: latitude,
                Longitude: longitude
            },
            function (data, status) {
            });


    }




    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success, error, options);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }



    getLocation();

</script>













