@model PairOptionsViewModel


<style type="text/css">



    .hidden {
        display: none;
    }
</style>

<div class="row"    id="PairOptionsMatch">
    
        <div style="min-height:1900px; min-width:450px;   border-style:solid;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12" >
            <div class="row">
                <div class="col-xl-12 col-lg-12" style="min-height:100px;border-style:solid;background-color:#fd267d;">
                    <div class="row">         

                        <div class="col-lg-6" style="max-height:80px;max-width:80px;">
                            <a >
                                <img alt="0" class="img-thumbnail" src=@Model.UserMainPhotoPath>
                            </a>
                        </div>
                        <div class="col-lg-6" style="max-height:80px;max-width:80px;">
                            <a href='@Url.Action("Panel","Home")'>
                                <img alt="0" class="img-thumbnail" src=~/AppPictures/home.png>
                            </a>
                        </div>
                       
                    </div>
                    <div style="min-height:80px;" class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12" style="min-height:40px;"></div>
                                              
                        <div class="col-lg-6 col-md-6 ">
                            <h5>@Model.UserName</h5>
                        </div>
                        <div class="col-lg-6 col-md-6"></div>

                       
                    </div>
                </div>

            </div>
            <div class="row">
                <form id="PairPanelForm" asp-action="PairPanel" asp-controller="Pair" method="get">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-dark" name="Pair">Pary</button>
                        <button type="button" class="btn btn-outline-secondary" name="Message">Wiadomości</button>
                        <br />
                        <input class="hidden" name="select" id="SelectP" />
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="PairImage  col-lg-12">
                    @foreach (var match in Model.list)
                    {

                        <form class="formPairDetails" @*id="GoToPair" *@ asp-action="GoToPair" asp-controller="Pair" method="post">
                            <input type="hidden" value=@match.PairId name="PairId" />
                            <img border="0" style="border-style:outset" alt=@match.PairMail class="" src=@match.PairMainPhotoPath width="100" height="100">
                            <div>
                                <label>@match.PairMail</label>
                            </div>

                        </form>


                    }
                </div>





            </div>




        </div>
      
   
</div>



<script>

    $("button[name='Pair']").click(function () {
        $('#SelectP').val("Pair");
        $('#PairPanelForm').submit();
    });

    $('body').on('click', '.formPairDetails', function (event) {

        $(this).submit();

    });

    $("button[name='Message']").click(function () {
        $('#SelectP').val("Message");
        $('#PairPanelForm').submit();
    });











</script>