@model PairViewModel
@{
    ViewData["Title"] = "Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .label {
        min-width: 200px;
        background-color: white;
    }

    .img-thumbnail {
        margin-top: 30px;
    }


    .imageR {
        position: relative;
    }

    .iconAction {
        position: absolute;
        bottom: 0;
        left: 15px;
    }

    .Remove {
        position: absolute;
        bottom: 0;
        left: 15px;
    }

    .iconAction:hover {
        background-color: lightgray;
    }


    .error {
        color: red;
        margin-left: 15px;
        color: red;
        font-weight: bold;
        font-size: 22px;
        line-height: 20px;
    }
</style>



<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-3  col-sm-3">
            @if (Model.select == "Pair")
            {
                @Html.Partial("PairOptionsPartial", Model.pairoptions)
            }
            else
            {
                <div id="Geo"></div>
                @Html.Partial("MessageOptionsPartial", Model.messageOptionsview)
            }

        </div>
        <div class="col-lg-4 col-md-3  col-sm-8">
            @if (Model.select == "Pair")
            {
                @Html.Partial("PairPartial", Model.pairpartial)
            }
            else
            {
                @Html.Partial("MessagePartial", Model.messageview)
            }

        </div>

        <div class="col-lg-4 col-md-3  col-sm-1"></div>
    </div>
</div>

<div>
    <form asp-action="Coordinates" asp-controller="Pair" method="Post">
        <input type="hidden" id="Longitude" name="Longitude" />
        <input type="hidden" id="Langitude" name="Langitude" />
    </form>
</div>











<script>
    var x = document.getElementById("Geo");
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;



        $.post("/Pair/Coordinates",
            {
                Latitude: latitude,
                Longitude: longitude
            },
            function (data, status) {
            });


    }


    getLocation();

</script>






