@model ResetPasswordViewModel

<h1>Zresetuj swoje hasło</h1>

<form asp-controller="Admin"
      asp-action="ChangePassword"
      method="post">

    <input type="hidden" asp-for="Token" />
    <table>
        <tr>
            <td><label asp-for="UserName"></label></td>
            <td><input asp-for="UserName" /></td>
        </tr>
        <tr>
            <td>
                <label asp-for="Password">
                    Nowe hasło
                </label>
            </td>
            <td><input asp-for="Password" /></td>
        </tr>
        <tr>
            <td>
                <label asp-for="ConfirmPassword">
                    Potwierdź nowe hasło
                </label>
            </td>
            <td><input asp-for="ConfirmPassword" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit"
                       value="Resetuj Hasło" />
            </td>
        </tr>
    </table>

    <div asp-validation-summary="All"></div>

</form>