@model ResetPasswordViewModel
@{
    Layout = null;
}

<h1>Reset Your Password</h1>

<form asp-controller="Admin"
      asp-action="ResetPassword"
      method="post">

    <table>
        <input type="hidden" asp-for="ConfirmPassword" disabled />
        <input type="hidden" asp-for="Password" disabled />
        <input type="hidden" asp-for="Token " disabled />
        <tr>
            <td>
                <label asp-for="UserName">
                    User Name :
                </label>
            </td>
            <td><input name="UserName" type="text" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit"
                       value="Reset Password" />
            </td>
        </tr>
    </table>
    <strong>@Model.Message</strong>
    <div asp-validation-summary="All"></div>

</form>