@model List<Event>
@{
    ViewData["Title"] = "CancelEvent";
    Layout = "~/Views/Shared/_LayoutEvent.cshtml";
}
<div class="container">
   

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th style="width:10%"></th>
                <th style="width:70%">Wydarzenie</th>
                <th style="width:20%">Akcja</th>
            </tr>            
        </thead>
        <tbody>
            @for (int i=0;i<Model.Count;i++)
            {


            <tr>
                <td >
                    <span class="font-weight-bold ">@(i + 1)</span>  
                </td>
                <td>
                    @Model[i].EventName
                </td>
                <td>
                    <form asp-action="CancelEvent" method="post">
                        <input type="hidden" name="EventId" value=@Model[i].EventId>
                        <input type="submit" class="btn btn-danger" value="Usuń" />
                    </form>
                </td> 
                




            </tr>
           


            }



        </tbody>
    </table>
</div>

