@model List<Event>
@{
    ViewData["Title"] = "ShowEvents_View";
    Layout = "~/Views/Shared/_LayoutEvent.cshtml";
}





<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="row">
                <h1>Lista Twoich  Wydarzeń</h1>
            </div>
            @Html.Partial("ShowEvents", Model)
        </div>
        <div class="col-lg-2"></div>

    </div>
</div>



