@model List<Event>
@{
    ViewData["Title"] = "ShowEvents_View";
    Layout = "~/Views/Shared/_LayoutEvent.cshtml";
}





<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">Lista Twoich  Wydarzeń</h1>
                </div>                
            </div>
            <div class="row">
                <div class="col-lg-12">
                    @Html.Partial("ShowEvents", Model)
                </div>
            </div>          
        </div>
        <div class="col-lg-2"></div>

    </div>
</div>



