@model string




<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12" id="Notify">
        </div>

    </div>
</div>



@*<script>
       var interval = 20000;
    setInterval(function() {Update()}, interval);

    function Update(){


        var data = {};
       var UserId =@Html.Raw( Json.Serialize(@Model));
        data["Id"] = UserId;


           $.ajax({
        url: '@Url.Action("CheckNotifty", "Notification")',
        type: "get",
        contentType: 'application/x-www-form-urlencoded',
        data: data,
        headers: {
            RequestVerificationToken:
                $('input:hidden[name="__RequestVerificationToken"]').val()
        },
               success: function (result) {

            $("#Notify").html(result);

                   /// Odśwież statusy

        }
    });


           }



       </script>*@






<script>


    (function () {


        var interval = 20000;
 setInterval(function() {Update()}, interval);

 function Update(){


     var data = {};
    var UserId =@Html.Raw( Json.Serialize(@Model));
     data["Id"] = UserId;


        $.ajax({
     url: '@Url.Action("CheckNotifty", "Notification")',
     type: "get",
     contentType: 'application/x-www-form-urlencoded',
     data: data,
     headers: {
         RequestVerificationToken:
             $('input:hidden[name="__RequestVerificationToken"]').val()
     },
            success: function (result) {

         $("#Notify").html(result);

                /// Odśwież statusy

     }
 });


        }



    })();


</script>