




<div id="Show" class="container-fluid">
    <div class="row">
        <div class="col-lg-12" id="Notify"></div>
    </div>
</div>










<script>


    $("#Notify").on("click", function () {

       $(this).empty();

    });




    $("#Notify").on("mouseover", function () {

        var a = $("#Notify").html().length;
        var b = $("#Notify").text.length;
       


        if ($("#Notify").html().length === 0)
        {

            
            $.ajax({
                url: '@Url.Action("GetNotifty", "Notification")',
                type: "get",
                contentType: 'application/x-www-form-urlencoded',
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (result) {

                    $("#Notify").html(result);

                    /// Odśwież statusy

                }
            }); 
                        







        }/////
                              
    }); /////


    

      ////Signal R


    var connectionNoti = new signalR.HubConnectionBuilder().withUrl("/checknotify").build();






    connectionNoti.on("CheckAllNotifications", function (UserId) {


     var data = {};

     data["Id"] = UserId;


        $.ajax({
     url: '@Url.Action("CheckNotifty", "Notification")',
     type: "get",
     contentType: 'application/x-www-form-urlencoded',
     data: data,
     headers: {
         RequestVerificationToken:
             $('input:hidden[name="__RequestVerificationToken"]').val()
     },
            success: function (result) {

         $("#Notify").html(result);

                /// Odśwież statusy

     }
 });
          /////////////////



    });




    connectionNoti.start().then(



    ).catch(function (err) {
        //alert("Błąd  w Notification checker"+ err);

    }).then(() => {

        //Update();

    });




</script>














