
@{
    ViewData["Title"] = "Test_CORS";

    Layout = "_Layout";
}

<h2>Test_CORS</h2>

<div>
    <ul id="Data"></ul>

</div>

<script>
   



    $(function () {

        alert("Start");

        $.getJSON("http://localhost:1581/Home/GetDataXXX", function (data) {

            alert(data);
            alert("Cors doestn work");
        });


    });


</script>